#plantSection{
    -fx-background-color: white;
    -fx-border-width: 0;
    -fx-padding: 10;

    -fx-min-height: 400px;
    -fx-min-width: 250px;
    -fx-max-width: 250px;
    -fx-pref-width: 250px;
    -fx-alignment: top-center;
}

#plantScrollPane > .viewport {
    -fx-background-color: transparent;
}

#plantScrollPane{
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-alignment: center;

    -fx-min-width: 210px;
    -fx-max-width: 210px;
    -fx-pref-width: 210px;
}

#plantVBox{
    -fx-background-color: transparent;

    -fx-min-height: 400px;
    -fx-min-width: 190px;
    -fx-max-width: 190px;
    -fx-pref-width: 190px;
}

/* The box representing a single plant */
.plantElement{
     -fx-alignment: center-left;
     -fx-background-color: #f2f7f7;

     -fx-min-height: 40px;
     -fx-max-height: 40px;
     -fx-pref-height: 40px;
     -fx-min-width: 200px;
     -fx-max-width: 200px;
     -fx-pref-width: 200px;

     /* Margin hack */
     -fx-padding: 8px;
     -fx-border-insets: 3px;
     -fx-background-insets: 3px;
}

.plantElement:focused{
    -fx-background-color: #6fd59b;
}

.plantElement:hover{
    -fx-cursor: HAND;
}


.plantText{
    -fx-font-size: 12px;
    -fx-font-family: Arial, sans-serif;
    -fx-fill: #4f5760;
}

.check-box .box{
    -fx-background-color: white;
    -fx-border-width: 0;
    -fx-border-color: #c0c7cf;
    -fx-border-radius: 2;
}

.check-box .box:disabled{
    -fx-background-color: white;
    -fx-border-width: 1;
    -fx-border-color: #c0c7cf;
    -fx-border-radius: 2;
}





