#changesVBox{
    -fx-background-color: #f4f4f4;
    -fx-alignment: top-center;
}

.tree-view{
    -fx-padding: 2px;
    -fx-border-insets: 2px;
    -fx-background-insets: 2px;
}

.logList {
    -fx-background-color: transparent;
}