.horizontalMenu {
    -fx-min-height: 44px;
    -fx-background-color: #303841;
    -fx-padding: 0;
}

.verticalMenu{
    -fx-min-width: 60px;
    -fx-max-width: 60px;
    -fx-pref-width: 60px;
    -fx-background-color: #303841;
    -fx-padding: 0;
}

.menuButton {
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 12px;
    -fx-background-color: #303841;
    -fx-background-radius: 0;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-background-insets: 0, 0, 0, 0, 0, 0, 0;
}


.menuButton:hover{
    -fx-background-color: #3d4652;
    -fx-background-radius: 0;
    -fx-cursor: HAND;
}

.menuButton:selected{
    -fx-background-color: #3d4652;
    -fx-background-radius: 0;
}

.menuButton:pressed{
    -fx-background-color: #576474;
    -fx-background-radius: 0;
}
.horizontalMenu .menuButton{
    -fx-min-height: 44px;
    -fx-max-height: 44px;
    -fx-pref-height: 44px;
}

.verticalMenu .menuButton{
    -fx-min-width: 60px;
    -fx-max-width: 60px;
    -fx-pref-width: 60px;
}
